@model QuasiSpecFileEditor.Models.Alarm

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Alarm</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AlarmName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlarmName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AlarmID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
