<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <div class="navbar-header">
                @Html.ActionLink("Spec. File Editor", "Index", "Model", new { area = "" }, new { @class = "navbar-brand" })
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    @if (Session["session_user"] != null)
                    {
                        <li>@Html.ActionLink("Model", "Index", "Model", null, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Part", "Index", "Part", null, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Alarm", "Index", "Alarm", null, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Parameter", "Index", "Parameter", null, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Group", "Index", "Group", null, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Alarm Description", "Index", "AlarmDescription", null, new { @class = "nav-link" })</li>
                    }
                </ul>
                @if (Session["session_user"] != null)
                {
                    <ul class="navbar-nav float-right">
                        <li class="nav-link">@Session["session_user"]</li>
                        <li>@Html.ActionLink("Logout", "Logout", "Login", null, new { @class = "nav-link" })</li>
                    </ul>
                }
                else
                {
                    <ul class="navbar-nav float-right">
                        <li>@Html.ActionLink("LogIn", "Login", "Login", null, new { @class = "nav-link" })</li>
                    </ul>
                }
            </div>
        </div>
    </div>
    <br />
    <div class="container-fluid body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Spec. File Editor</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
